# Ignore MATLAB temporary files
*.asv

#Ignore temp file for running tests
*.mat

# Ignore gif animations files
*.gif

# Ignore png images
*.png


# Ignore folder content
**/data_temp

# not ignore videos folder
!Software_Verification_and_Examples/3Clustered_tensegrity/2_dynamic/5CTS_prism_dynamic/** 
